@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

body {
    padding: 10px;
    background-color: #000014;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(255, 217, 0, 0.61);
    font-family: 'Croissant One', cursive;
}

.converter {
    margin: auto;
    width: 90%;
    margin-top: 80px;
    background-color: #00006e;
    padding: 50px 20px 50px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #1b37b4;
    color: #fff;
}

.converter:hover {
    box-shadow: 1px 1px 15px 2px #1b37b4;
}

.convert-fields {
    display: flex;
    flex-direction: column;
}

button,
input[type="text"],
select,
option {
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 6px #cccccc;
    cursor: pointer;
}

button:hover {
    background-color:gold;
    border: 1px solid gold;
    box-shadow: 2px 2px 6px #e9e8e8;
}

#convert-button {
    margin-top: 10px;
    text-align: right;
    margin-bottom: 10px;
}

label {
    margin-bottom: 10px;
    margin-top: 10px;
}

#progress {
    display: none;
    height: 20px;
    margin: auto;
    width: 20%;
    margin-bottom: 5px;
    text-align: center;
}

.converted-result {
    margin: auto;
    height: 50px;
    padding-top: 5px;
    font-size: large;
}

.to-currency {
    color: gold;
    text-shadow: #1b37b4;
    font-size: larger;
}

@media only screen and (min-width: 1024px) {
    .converter {
        min-width: 500px;
        width: 40%;
    }

}