@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #000014;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: rgba(255, 217, 0, 0.61);
    font-family: 'Croissant One', cursive;
    font-size: 5vw;
}

h2 {
    color: rgba(255, 217, 0, 0.61);
    font-size: 18px;
    text-align: center;
}

.converter {
    color: #dedeff;
    margin: auto;
    width: 85%;
    height: fit-content;
    margin-top: 0px;
    padding: 5px 20px 10px 20px;
    border-radius: 10px;
    background-color: #00006e;
    overflow-y: auto;
    min-height: 470px;
}

.converter:hover {
    box-shadow: 1px 1px 10px 2px #1b37b4;
}

.convert-fields {
    display: flex;
    flex-direction: column;
}

button,
input[type="text"],
select,
option {
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 3px #cccccc;
    cursor: pointer;
}

button:hover {
    background-color: gold;
    border: 1px solid gold;
    box-shadow: 1px 1px 3px #e9e8e8;
}

#convert-button {
    margin-top: 10px;
    text-align: right;
    margin-bottom: 10px;
}

label {
    margin-bottom: 10px;
    margin-top: 10px;
}

i {
    color: white;
}

#progress {
    display: none;
    height: 20px;
    margin: auto;
    width: 20%;
    margin-bottom: 5px;
    text-align: center;
}

.converted-result {
    margin: auto;
    height: 50px;
    padding-top: 5px;
    font-size: large;
}

.to-currency {
    color: gold;
    text-shadow: #1b37b4;
    font-size: larger;
}

::-webkit-scrollbar {
    width: 2px;
    /* Width of the scrollbar */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #3551f185;
    border-radius: 6px;
}

/* Style the scrollbar track when hovering over it */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (min-width: 1024px) {
    .converter {
        min-width: 500px;
        width: 40%;
        min-height: 400px;
    }

    h1 {
        font-size: 30px;
    }
}